<div class="home">
  <div class="home_background" style="background: url(https://i.imgur.com/HCWU4MU.jpg);"></div>
  <div class="home_content">
    <div class="home_title">
      For all your magical needs
    </div>
  </div>
</div>