<%# 
This partial renders a dropdown link box to be used in navbars. 
LOCALS: 
label - the label for the dropdown
items - list of items to be rendered as dropdown options 
%>

<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<%= label %>
</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdown">
  <% items.each do |item| %>
    <% if item.attributes.include?('name')%>
      <%= link_to item.name, by_category_path(item), class:"dropdown-item" %>
    <% else %>
      <%= link_to item.username, by_merchant_path(item), class:"dropdown-item" %>
    <% end %>
  <% end %>
</div>