<%= render partial: "order" %>
<section class="order-ordersummary__container">
<%= link_to "Cancel Order", order_path(@order), class: "form_submit_button button trans_200", method: "delete", data: { confirm: "Are you sure you want to cancel Order ##{@order.id}?" } %>
</section>
