<% content_for(:title) { 'Evergreenery - Welcome' } %>
<main>
<div class="spotlight">
<img src="https://i.imgur.com/sM6Rn9P.png" alt="plant" />

</div>
<div class="tagline">
<p>We're definitely selling plants</p>
</div>
<%= link_to products_path, class: "btn btn-outline-primary browse" do %>Browse all products<% end %>
</main>

<footer class="footer">
  <div class="container">
    <span class="text-muted">Meet the team</span>
  </div>
</footer>