<% content_for(:title) { 'Agasalho - Welcome' } %>

<div class="tagline">
  <p>Cozy sweaters for everything,<br>and we do mean everything.</p>
</div>

<div class="spotlight">
  <img src="https://i.imgur.com/UUM6HIw.png" alt="product_hero" />
</div>

<%= link_to "Browse all products", products_path, class: "btn btn-primary browse" %>


