<% content_for(:title) { 'Evergreenery - Welcome' } %>
<main>
<h1>Welcome to Evergreenery</h1>
<%= link_to products_path, class: "btn btn-outline-primary browse" do %>Browse all products<% end %>
</main>