<% content_for(:title) { 'Evergreenery - Welcome' } %>
<main>

<div class="tagline">
  <p>Cozy sweaters for everything,<br>and we do mean everything.</p>
</div>

<div class="spotlight">
  <img src="https://i.imgur.com/UUM6HIw.png" alt="product_hero" />
</div>

<%= link_to "Browse all products", products_path, class: "btn btn-primary browse" %>
</main>

<footer class="footer">
  <div class="container">
    <%= link_to raw("Meet the team &#10084;"), team_path %>
  </div>
</footer>