<% content_for(:title) { 'About Us' } %>
<% content_for(:headline) { "About Us - Team Agasalho"} %>

<div>

  <div class="row">
    <!-- member 1-->
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
        </div>
      </div>
    </div>

    <!-- member 2-->
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- member 1-->
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
        </div>
      </div>
    </div>

    <!-- member 2-->
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
        </div>
      </div>
    </div>
  </div>


</div>