<h1>dashboard</h1>

<div>
<p>session[:merchant_id] = <%= session[:merchant_id] %> <p>
<p>@current_merchant = <%= @current_merchant %> <p>
<p>@current_merchant username = <%= @current_merchant.username %> <p>

</div>