<h1>Merchants</h1>
<% @merchants.sort_by{|merchant| merchant.name.downcase}.each do |merchant| %>
  <li class = "list">
    <img class = "merchant_images", src="<%= merchant.avatar %>", alt="user">
    <%= link_to merchant.name.titleize, merchant_shop_path(merchant) %>
  </li>
<% end %>
