<h1>Merchants</h1>
<% @merchants.each do |merchant| %>
  <li class = "list">
    <img class = "merchant_images", src="<%= merchant.avatar %>", alt="user">
    <%= link_to merchant.name, merchant_path(merchant) %>
  </li>
<% end %>
