<h2>manage orders</h2>

<%= @orders.each do |order| %>

  <% if order.status == 'paid' %>
    <%= button_to "Complete Order", { controller: 'orders', action: 'complete', order_id: order.id } %>
    <%= order.id %>
  <% end %>
<% end %>
