<% content_for(:headline) { "Manage Products"} %>

<div class="container product-list">

  <h1><%= "No products to view" if @current_merchant.products.empty? %></h1>
  <% @current_merchant.products.in_groups_of(4).each do |group| %>
  <div class="product-grid__row row">
    <% group.each do |product| %>
      <%= render partial: "shared/product", locals: { product: product } %>
    <% end %>
  </div>
  <% end %>
</div>
