<div>
<p><strong>Select Quantity</strong></p>
<%= form_with model: @order_item do |f| %>
  <%if product.stock > 1%>
    <%= f.select :quantity, 1..product.stock %>
  <%else%>
  <%= f.select :quantity, 1%>
  <%end%>
  <br>
  <%= f.submit "#{action_name}", :class => "button" %>
<% end %>
</div>