/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";

@import "**/*";
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');

/* Style the navigation bar */
// resource: https://css-tricks.com/targetting-menu-elements-submenus-navigation-bar/
// nav {    
//   display: flex;
//   // text-align: center;
//   background-color: grey;
//   font-size: 20px;
// }
// .push {
//   margin-left: auto;
// }
  
// nav ul {
//   margin: 0;
//   padding:0;
//   list-style: none;
// }
// .nav li {
//   display:block; 
//   background: #111; 
  
//   text-decoration: none;
//   // padding: 0.8em 1.8em;
//   // text-transform: uppercase;
//   // font-size: 80%;
//   letter-spacing: 2px;
//   // text-shadow: 0 -1px 0 #000;
//   position: relative;
//   font-family: 'Times New Roman', Times, serif;
//   // font-weight: bold;
// }
// .nav{  
//   vertical-align: top; 
//   display: inline-block;
//   box-shadow: 
//     1px -1px -1px 1px #000, 
//     -1px 1px -1px 1px #fff, 
//     0 0 6px 3px #fff;
//   border-radius:6px;
// }
// .nav li {
//   position: relative;
// }
// .nav > li { 
//   float: left; 
//   border-bottom: 4px #aaa solid; 
//   margin-right: 1px; 
// } 
// .nav > li > a { 
//   margin-bottom: 1px;
  
// }
// .nav > li:hover, 
// .nav > li:hover > a { 
//   // border-bottom-color: orange;
// }
// .nav li:hover > a { 
//   color:orange; 
// }
// .nav > li:first-child { 
//   border-radius: 4px 0 0 4px;
// } 
// .nav > li:first-child > a { 
//   border-radius: 4px 0 0 0;
// }
// .nav > li:last-child { 
//   border-radius: 0 0 4px 0; 
//   margin-right: 0;
// } 
// .nav > li:last-child > a { 
//   border-radius: 0 4px 0 0;
// }
// .nav li li a { 
//   margin-top: 1px;
// }
// .nav li a:first-child:nth-last-child(2):before { 
//   content: ""; 
//   position: absolute; 
//   height: 0; 
//   width: 0; 
//   border: 5px solid transparent; 
//   top: 50% ;
//   right:5px;  
//  }

//  /* submenu positioning*/
//  .nav ul {
//   position: absolute;
//   white-space: nowrap;
//   border-bottom: 5px solid orange;
//   left: -99999em;
// }
// .nav > li:hover > ul {
//   left: auto;
//   margin-top: 5px;
//   min-width: 100%;
// }
// .nav > li li:hover > ul { 
//   left: 100%;
//   margin-left: 1px;
//   top: -1px;
// }
// /* arrow hover styling */
// .nav > li > a:first-child:nth-last-child(2):before { 
//   border-top-color: #aaa; 
// }
// .nav > li:hover > a:first-child:nth-last-child(2):before {
//   border: 5px solid transparent; 
//   border-bottom-color: gray;
//   margin-top:-5px
// }
// .nav li li > a:first-child:nth-last-child(2):before {  
//   border-left-color: #aaa; 
//   margin-top: -5px
// }
// .nav li li:hover > a:first-child:nth-last-child(2):before {
//   border: 5px solid transparent; 
//   border-right-color:gray;
//   right: 10px; 
// }

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

.profile-img {
  border-radius: 50%;
  max-width: 15%;
  border: solid gray 3px;
  margin-bottom: 2em;
  margin-top: 2em;
}

section {
  margin: 5em;
  margin-left: 10em;
  padding-right:  5em;
  display:center;
  font-family: 'Times New Roman', Times, serif;
}
.dropdown-item{
  color: black;
}

footer{
  background-color: lightgray;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
  position: absolute;
}

table {
  margin: auto;
  margin-top: 1em;
  // border: solid 1px;
  table-layout: fixed;
  width: 800px;
  
}

table th {
  // border: solid 1px;
  font-family: 'Times New Roman', Times, serif;
  background-color: gray;
  color: white;
  text-align: center;
}

table tr {
  // border: solid 1px;
  text-align: right;
}

table td {
  // border: solid 1px;
  padding: 1px;
  // text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

p {
  margin: 1rem;
  font-family: 'Times New Roman', Times, serif;
}
h3{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.button {
  border: solid gray 1px;
  background-color: gainsboro;
  color: black;
  border-radius: 5px;
  font-family: 'Times New Roman', Times, serif;
  padding: 5px;
  //margin-left: 1rem;
  //margin: 5px;
}


// rating
.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
}

.rating>input {
  display: none
}

.rating>label {
  position: relative;
  width: 1em;
  font-size: 2vw;
  color: #FFD600;
  cursor: pointer
}

.rating>label::before {
  content: "\2605";
  position: absolute;
  opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
  opacity: 1 !important
}

.rating>input:checked~label:before {
  opacity: 1
}

.rating:hover>input:checked~label:before {
  opacity: 0.4
}

p {
  font-size: 1.2rem
}

@media only screen and (max-width: 600px) {
  h1 {
      font-size: 14px
  }

  p {
      font-size: 16px
  }
}

p {
  font-size: 16px
}

label{
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
}
.images {
  max-width: 30%;
  // border: red 2px solid;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  image-rendering: center;
}

.show_images {
  max-width: 60%;
  border:gray 2px solid;
  image-rendering: center;
  margin: 5px
}

.product-category-images {
  max-width: 30%;
  border:gray 2px solid;
  image-rendering: center;
  margin: 5px
}

.merchant_images {
  max-width: 4%;
  border:gray 2px solid;
  image-rendering: center;
  margin: 5px;
  border-radius: 50%;
}

.list {
  list-style: none;
}

//pagination
//Resource:http://mislav.github.io/will_paginate/pagination.css
.pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .pagination a, .pagination span, .pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .pagination .current {
    font-style: normal;
    font-weight: bold;
    background:gray;
    color: white;
    border: 1px solid gray; }
  .pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .pagination a:hover, .pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .pagination {
    height: 1%; }
  *:first-child + html .pagination {
    overflow: hidden; }
    
.order-table {
  border-bottom: solid 1px gray;
  padding: 1px;
  font-family: 'Times New Roman', Times, serif;
}

.item_images {
  max-width: 25%;
  border:gray 2px solid;
  image-rendering: center;
  margin: 5px
}

th, td {
  border-bottom: 1px solid #dddddd;
}

tr:hover {background-color: #f5f5f5;}

.field {
  border-radius: 5px;
  font-family: 'Times New Roman', Times, serif;
  padding: 5px;
  margin-left: 1rem;
  margin: 5px;
}

.middle {
  text-align: center;
}

.left {
  text-align: left;
}

div, li {
  font-family: 'Times New Roman', Times, serif;
}

