.landing {
  width: 100vw;
  height: 100vh;
  background-image: url(https://i.imgur.com/I6Kl9oY.jpg);
  background-size: cover;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  
  h1 {
    margin: 0 auto;
  }

  .browse {
    margin-top: 40vh;
  }

}
