.landing {
  background-color: #F2B4AB;
  text-align: center;
  margin: 0 auto;
  
  h1 {
    margin: 0 auto;
  }

  .browse {
    margin-top: 25vh;
  }

}

.spotlight {
  margin: -16vh auto;
  width: 300px;
  height: 300px;
  background-color: #D0D7EE;
  border-radius: 300px;
}

.spotlight img {
  width: 100%;
  margin: 0 auto;
}

.tagline {
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 47px;

  margin: 16vh;
  text-align: right;
}

.footer {
  text-align: right;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  a {
    color: #D91720;
  }
}