.app-header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.cart {
  text-align: right;
  margin-left: 20px;
  width: 80px;
  background-image: image-url(asset_path("icons/shopping-cart.svg"));
  background-repeat: no-repeat;
}

.side_nav_bar {
  border: red 3px solid,
}

.products__container {
  border: green 3px solid,
}