nav {
  background-color: lightslategray;
}

nav.landing {
  background-color:  #fff;
}

.app-header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.cart {
  text-align: right;
  margin-left: 20px;
  width: 80px;
  background-image: image-url(asset_path("icons/shopping-cart.svg"));
  background-repeat: no-repeat;
}

.navbar-brand.landing {
  font-size: 2em;
  background-color: transparent;
}