<%# TODO we have to conect those categories with products so user can be able to click on the caregory and to see all the products that belong to that category%>
<h1>SHOP BY CATEGORY</h1>
<%@categories.each do |careg|%>
 <p><%=careg.name.upcase%></p>
<%end%>

