<div class='col-md'>
  <% if !product.nil? %>
  <div class='product-grid__product'>
    <%= link_to product_url(product.id) do %>
      <%= image_tag(product.photo, class: "img-fluid") %>
      <h4><%= product.name %></h4>
      <div><%= number_to_currency(product.price) %></div> 
    <% end %>
  </div>
  <% end %>
</div>