<h2> Products/All </h2>

<% @products.each do |product| %>
  <%if product.active%>
    <div>
    <img class = "show_images", src="<%= product.photo %>", alt="<%=product.name %>">
    <%= link_to product.name, product_path(product) %>
    <%= format_price(product.price) %>
    </div>
  <%end%>
<% end %>


