<% content_for(:title) { 'Browse Products' } %>
<% content_for(:headline) { @filters.count > 0 ? "Showing Products for #{@filters.join(', ')}" : "Products" } %>

<div class="product-show-page__container container">

  <div class="filter-box container">
    <%= render 'select' %>
  </div>

  <div class="product-list">

    <h1><%= "No products to view" if @products.empty? %></h1>
    <% @products.in_groups_of(4).each do |group| %>
    <div class="product-grid__row row">
      <% group.each do |product| %>
        <%= render partial: "shared/product", locals: { product: product } %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
