<h2> Products/All </h2>
<%= Product.all%>
<%# this is just for temporary use %>
<%# please replace it with Lak's products views when merging %>
<% @products.each do |product| %>
  <li> <%= product.name %> </li>
<% end %>
