<% flash.each do |type, message| %>
  <% next if type == 'details' %>
  <div class="container">
  <div class="alert alert-<%= type %>">
    <strong><%= message %></strong>
    <% if flash[:details] %>
      <ul>
      <% flash[:details].each do |msg| %>
        <% msg %>
        <% if !msg[1].empty? %>
          <li><%= msg %></li>
        <% end %>
      <% end %>
      </ul>
    <% end %>
  </div>
  </div>
<% end %>